/* Author: Suraj Aswal */
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-btn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #ac3b3b;
  font-size: 18px;
  color: #3f0202;
  background-color: #d46363;
}

/* must include css */
.custom-alert-box {
  position: absolute;
  top: 0%;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #58a6eb;
  animation: alert-box 1s ease;
}

@keyframes alert-box {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
